/* FONDO */
body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("public/img/logo.png");
    background-size: cover;
  
    background-repeat: no-repeat;

}


/* CENTRADO */
.login-wrapper {
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 370px; 
    align-items: flex-start; 

}

/* CAJA LOGIN */
.login-box {
    width: 100%;
    max-width: 380px;
    padding: 32px 28px;

    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.4);

    box-shadow: 
        0 25px 50px rgba(0,0,0,.25),
        inset 0 1px 0 rgba(255,255,255,.4);

   
}



/* LOGO */
.login-box img {
    width: 120px;
    display: block;
    margin: 0 auto 15px;
}

/* PASSWORD */
.password-group {
    position: relative;
}

.password-group input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

.toggle-password:hover {
    color: #000;
}





/* ===== AJUSTE LOGIN ADMIN (SIN ROMPER LAYOUT) ===== */

.admin-login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-login .card {
    width: 100%;
    max-width: 380px;
    padding: 25px;
}

/* Asegurar que el ojito se posicione igual */
.admin-login .password-group {
    position: relative;
}

.admin-login .password-group input {
    padding-right: 40px;
}

.admin-login .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}


.logo-link {
    text-decoration: none;
}






.center-container {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;            /* toda la pantalla */
}

.btn-hidden {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
