body {
    background: #1e1e2f;
    font-family: Arial, sans-serif;
}

.admin-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
}

.card h3 {
    margin-bottom: 20px;
}

.card input {
    margin-bottom: 15px;
}
